* {
   font-family: "Montserrat", sans-serif !important;
   font-weight: 500 !important;
}
.trips-card{
   transition-duration:  0.5s;
   transition-property: transform;
}
.trips-card:hover{
  transform: translateY(-10px);
}